.CapitalStore-item {
  width: 220px;
  height: 50px;
  border-style: solid;
  border-width: 1px;
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 25px 1fr;
  text-align: left;
  
}

.CapitalStore-item img {
  grid-column: 1;
  height: 50px;
  width: 50px;
}

.CapitalStore-item p {
  padding-left: 15px;
  margin-top: 2px;
  margin-bottom: 2px
}

.CapitalStore-item-name {
  grid-column: 2;
  grid-row: 1;
}

.CapitalStore-item-cost {
  grid-column: 2;
  grid-row: 2;
}